<app-nav></app-nav>
<div class="container" id="header">
    <h1>ABOUT</h1>
   
    <div id="description">
      <h4>Introducing "EduLearn": Your Gateway to Interactive Online Education</h4>
     
      <p>Welcome to EduLearn, an innovative e-learning platform 
        designed to revolutionize the way you learn. Whether you're a student, 
        professional, or simply curious to expand your knowledge, EduLearn offers a 
        diverse range of online courses to cater to your unique learning needs.</p>
    </div>
</div>  