<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" (click)="displayDetails()">Display Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="displayEnrolledCourses()">Enrolled Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Main content -->
      <div class="col-md-9">
        <div class="main-content">
          <h1>Welcome, {{ username }}!</h1>
         
          <!-- Search bar -->
          <div class="search-bar">
            <input type="text" class="form-control" [(ngModel)]="searchText" (input)="searchCourses()" placeholder="Search for courses">
          </div>
  
          <!-- User details section -->
          <div *ngIf="showDetails">
            <h3>User Details</h3>
            <p>First Name: {{ userDetails.firstname }}</p>
            <p>Last Name: {{ userDetails.lastname }}</p>
            <p>Email: {{ userDetails.email }}</p>
            <p>Username: {{ userDetails.username }}</p>
          </div>
  
          <!-- Enrolled courses -->
          <h3>Your Enrolled Courses</h3>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let course of enrolledCourses">{{ course }}</li>
          </ul>
  
          <!-- Available courses -->
         <!-- Available courses -->
<h3>Available Courses</h3>
<div class="row">
  <div class="col-md-4" *ngFor="let course of availableCourses">
    <div class="card">
        <!-- <img [src]="course.imageUrl" class="card-img-top" alt="Course Image"> -->
      <div class="card-body">
        <h5 class="card-title">{{ course.title }}</h5>
        <p class="card-text">{{ course.description }}</p>
        <a href="#" class="btn btn-primary">Enroll Now</a>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
  